In [37]:
import sqlite3

# connect to database
conn = sqlite3.connect('school.db')

# create a cursor
c = conn.cursor()

Create the tables

In [ ]:
c.execute("""CREATE TABLE students (
            first_name text,
            last_name text,
            grade integer,
            email text
        )""")
    # DATA types
    # NULL # INTEGER # REAL # TEXT # BLOB

Insert a record

In [38]:
c.execute("INSERT INTO students VALUES ('Jake', 'Ho', 4, 'jakeh@la.edu')")

Insert many records

In [40]:
many_students = [
    ('Duke', 'Chen', 4, 'dukec@la.edu'),
    ('Bob', 'Liang', 3, 'bobl@la.edu'),
    ('Cay', 'Li', 1, 'cayl@la.edu')
]
c.executemany("INSERT INTO students VALUES (?,?,?,?)",many_students)

Check list

In [25]:
c.execute("SELECT * FROM students")
len(c.fetchall())

3

Update or modify record

In [45]:
c.execute("""UPDATE students SET grade = grade + 1
""")
conn.commit()

Make order

In [46]:
c.execute("SELECT * FROM students ORDER BY grade")
print(c.fetchall())

[('Cay', 'Li', 2, 'cayl@la.edu'), ('Ray', 'Li', 4, 'rayl@la.edu'), ('Bob', 'Liang', 4, 'bobl@la.edu'), ('Rob', 'Liang', 5, 'robl@la.edu'), ('Jake', 'Ho', 5, 'jakeh@la.edu'), ('Duke', 'Chen', 5, 'dukec@la.edu')]

Filter the data

In [42]:
c.execute("SELECT * FROM students WHERE grade = 6")
print(c.fetchall())

[('Kyle', 'Chen', 6, 'kylec@la.edu')]

Delete record

In [43]:
c.execute("DELETE from students WHERE grade = 6")
conn.commit()

Commit and close

In [47]:
# Commit our command
conn.commit()

# close the conection
conn.close()