In [1]:
import sqlite3

# connect to database
conn = sqlite3.connect('school.db')

# create a cursor
c = conn.cursor()

Create the tables

In [ ]:
c.execute("""CREATE TABLE students (
            first_name text,
            last_name text,
            grade integer,
            email text
        )""")
    # DATA types
    # NULL # INTEGER # REAL # TEXT # BLOB

Insert a record

In [2]:
c.execute("INSERT INTO students VALUES ('Jake', 'Ho', 4, 'jakeh@la.edu')")

Insert many records

In [3]:
many_students = [
    ('Fenny', 'Du', 1, 'fennyd@la.edu'),
    ('Nono', 'Yang', 3, 'nonoy@la.edu'),
    ('Brianna', 'Li', 1, 'briannal@la.edu')
]
c.executemany("INSERT INTO students VALUES (?,?,?,?)",many_students)

Check list

In [4]:
c.execute("SELECT * FROM students")
len(c.fetchall())

9

Update or modify record

In [8]:
c.execute("""UPDATE students SET grade = grade + 1
""")
conn.commit()

Make order

In [9]:
c.execute("SELECT * FROM students ORDER BY grade")
print(c.fetchall())

[('Fenny', 'Du', 2, 'fennyd@la.edu'), ('Brianna', 'Li', 2, 'briannal@la.edu'), ('Dude', 'Ma', 4, 'dudem@la.edu'), ('Nono', 'Yang', 4, 'nonoy@la.edu'), ('Ray', 'Li', 5, 'rayl@la.edu'), ('Jake', 'Ho', 5, 'jakeh@la.edu'), ('Jake', 'Ho', 6, 'jakeh@la.edu'), ('Duke', 'Chen', 6, 'dukec@la.edu')]

Filter the data

In [6]:
c.execute("SELECT * FROM students WHERE grade = 6")
print(c.fetchall())

[('Ray', 'Zhou', 6, 'rayz@la.edu')]

Delete record

In [7]:
c.execute("DELETE from students WHERE grade = 6")
conn.commit()

Commit and close

In [10]:
# Commit our command
conn.commit()

# close the conection
conn.close()